﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/LeftSideBar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["Teacher"] != null)
                {
                    @Html.ActionLink("SAMS ", "Index", "Attendance", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.Label("SAMS", new { @class = "navbar-brand" })
                    
                }
            </div>
            @if (Session["Teacher"] != null)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Class", "Index", "Class")</li>
                        <li>@Html.ActionLink("Student", "Index", "Student")</li>
                        <li>@Html.ActionLink("Attendace", "Index", "Attendance")</li>
                        <li>@Html.ActionLink("Setting", "Edit", "Teacher", new { id = (((AttendanceManagementProject.Models.Teacher)Session["Teacher"]).id) }, null)</li>
                        <li>@Html.ActionLink("Logout", "Index", "Login")</li>
                    </ul>
                </div>
            }
            
        </div>
    </div>

    <div class="container body-content">

                    @RenderBody()


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MSAS</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>