﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeftSideBar</title>
</head>
<body>
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Name: @(((AttendanceManagementProject.Models.Teacher)Session["Teacher"]).name)
                    </div>
                    <div class="profile-usertitle-name">
                        Gender: @(((AttendanceManagementProject.Models.Teacher)Session["Teacher"]).gender)
                    </div>
                    <div class="profile-usertitle-name">
                        Phone: @(((AttendanceManagementProject.Models.Teacher)Session["Teacher"]).phone)
                    </div>
                </div>

                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        @{

                            <li class="active">
                                @Html.ActionLink("Create", "Create")
                            </li>
                                    <li>
                                        @Html.ActionLink("Edit", "Edit")
                                    </li>
                                    <li>
                                        @Html.ActionLink("View", "View")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Delete", "Delete")
                                    </li>
                        }
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
